*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 500px) {
    
    .start {
        display: none;
    }

    #logo {
        margin-left: 0;
    }

    .intro-text2 p {
        font-size: 1.5rem;
    }

    #bars {
        display: flex;
        margin-left: 22rem;
    }

    .hero {
        height: 30rem;
    }
   
    #overlay {
        height: 30rem;
    }

    .intro {
        padding-top: 10rem;
        padding-left: 2rem;
    }

    .intro h2{
        font-size: 1rem;
    }

    .intro p {
        font-size: 0.5rem;
    }

    .one {
        height: 50rem;
    }

    .flexbox {
        flex-direction: column;
    }
    
    .intro-text {
        margin-left: 5rem;
        padding-top: 0;
        padding-bottom: 5rem;
    }

    .image img{
        width: 30rem;
        margin-left: 3rem;
    }

    .intro-text2 h3 {
         font-size: 1.5rem;
    }

    .intro-text2 p {
        font-size: 0.8rem;
    }

    .intro-text2 {
        min-height: 20rem;
    }

    .flexbox1 {
        flex-direction: column;
    }
    
    .sub {
        height: 20rem;
        width: 30rem;
        margin-top: 5rem;
    }

    #shift {
        padding-bottom: 5rem;
    }

    .sub a {
        padding: 1.5rem 2rem;
        font-size: 1.5rem;
    }

    #shift2 {
        padding-bottom: 5rem;
    }

    .flexbox2 {
        flex-direction: column;
    }

    .two {
        height: 180rem;
    }

    .big {
        height: 160rem;
    }

    .big2 h3 {
        font-size: 1.2rem;
    }

    .big2 p {
        font-size: 1rem;
    }

    #header {
        display: none;
    }

    #main {
        width: 30rem;
    }

    #comfort, #security, #light {
        display: none;
    }

    .three {
        height: 80rem;
    }

    .data h3 {
        font-size: 1.8rem;
    }

    .data p {
        font-size: 0.8rem;
    }

    .data {
        height: 30rem;
    }

    .freq h3 {
        font-size: 1.5rem;
    }

    .question h5 {
        font-size: 1rem;
    }

    .question2 h5 {
        font-size: 1rem;
    }

    .question3 h5 {
        font-size: 1rem;
    }

    .question4 h5 {
        font-size: 1rem;
    }

    .question5 h5 {
        font-size: 0.9rem;
    }

    .freq {
        min-height: 50rem;
    }

    .four {
        height: 110rem;
    }

    .partners h3 {
        font-size: 3rem;
    }
    .partners span {
        font-size: 3rem;
    }

    .partner1 img {
        width: 5rem;
    } 

    .partner2 img {
        width: 5rem;
    } 

    .partner3 img {
        width: 5rem;
    } 

    .partner4 img {
        width: 7rem;
    } 

    .flexbox3 {
        flex-direction: column;
    }

    #six {
        height: 70rem;
    }

    .smart {
        margin-left: 7rem;
    }

    .smart h3 {
        font-size: 2rem;
    }

    .smart p {
        font-size: 1.5rem;
    }

    #iphone {
        display: none;
    }

    .smart-img img {
        margin-left: 6rem;
        margin-top: 5rem;
    }

    .service h3 {
        font-size: 2rem;
    }

    .service p {
        font-size: 1.5rem;
    }

    th {
        font-size: 1rem;
        padding: 4rem 1rem;
     }

    td a{
        font-size: 1rem;
     }

     td {
        padding: 1.5rem 1rem;
     }
    footer {
        height: 100rem;
    }

    .copy {
        display: none;
    }
}



@media screen and (max-width: 380px) {
    
     #bars {
        margin-left: 16rem;
     }

     .hero {
        height: 20rem;
     }

     #overlay {
        height: 20rem;
     }

     .intro {
        padding-left: 7rem;
     }

     .intro h2 {
        font-size: 0.5rem;
     }

     .intro-text2 p {
        font-size: 0.7rem;
     }

     .big2 h3{
        font-size: 1rem;
     }

     .data p {
        font-size: 0.5rem;
     }

     .smart {
        margin-left: 0;
     }

     .smart-img img {
        margin-left: 0;
     }

     .copy {
        display: none;
     }

     .flexbox1 {
        margin-left: 4rem;
     }

     .flexbox2 {
        margin-left: 4rem;
     }
}


@media screen and (max-width: 320px) {
    
     #bars {
        margin-left: 11rem;
     }

     .intro {
        padding-top: 7rem;
        padding-left: 4rem;
     }

     .intro-text h3 {
        font-size: 0.8rem;
     }

     .intro-text p {
        font-size: 0.5rem;
     }

     .image img {
        width: 20rem;
     }

     .intro-text2 p {
         font-size: 0.5rem;
     }

     .sub {
        width: 20rem;
        height: 20rem;
     }

     .sub h3 {
        font-size: 1rem;
     }

     .big2 h3 {
        font-size: 0.9rem;
     }

     #main {
        margin-left: 0;
     }

     .question4 h5 {
        font-size: 0.7rem;
     }

     .question5 h5 {
        font-size: 0.6rem;
     }

     .partners h3 {
        font-size: 1.5rem;
     }

     .partners span {
        font-size: 1.5rem;
     }

     .partner2 {
         margin-left: 3rem;
     }
     
     .partner2 img {
        width: 4rem;
     }

     .partner3 img {
        width: 4rem;
     }

     .partner4 img {
        margin: 0 3rem;
     }

     td a {
        font-size: 0.7rem;
     }

     th {
        font-size: 0.7rem;
     }
}