*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 500px) {
    
    .start {
        display: none;
    }

    nav li {
        display: none;
    }

    #logo {
        display: flex;
    }

    #bars {
        display: flex;
        margin-left: 27rem;
        font-size: 4rem;
    }

    .dynamic {
        min-height: 45rem;
        width: 30rem;
    }

    .dynamic img {
        width: 20rem;
    }

    .dynamic h3 {
        font-size: 2rem;
    }

    .dynamic p {
        font-size: 1rem;
    }

    .flexbox {
        margin-left: 5rem;
    }

    .privacy {
        min-height: 45rem;
        width: 30rem;
        background-position: center;
    }

    .privacy h3 {
        font-size: 2rem;
    }

    .privacy p {
        font-size: 1rem;
    }

    .one {
        height: 100rem;
    }

    .eco {
        height: 45rem;
        width: 30rem;
    }

    .eco h3 {
        font-size: 2rem;
    }

    .eco p {
        font-size: 1rem;
    }

    .community {
        height: 45rem;
        width: 30rem;
        background-position: center;
        padding-left: 1rem;
    }

    .community h3 {
        font-size: 2rem;
    }

    .community p {
        font-size: 1rem;
    }

    #overlay {
        height: 45rem;
    }

    .two {
        height: 100rem;
    }

    .unified {
        height: 45rem;
        width: 30rem;
    }

    .unified h3 {
        font-size: 2rem;
    }

    .unified p {
        font-size: 1rem;
    }

    .routines {
        height: 45rem;
        width: 30rem;
    }

    .routines h3 {
        font-size: 2rem;
    }

    .routines p {
        font-size: 1rem;
    }

    .voice {
        height: 45rem;
        width: 30rem;
    }

    .voice h3 {
        font-size: 2rem;
    }

    .voice p {
        font-size: 1rem;
    }

    .track {
        height: 45rem;
        width: 30rem;
    }

    .track h3 {
        font-size: 2rem;
    }

    .track p {
        font-size: 1rem;
    }

    .four {
        height: 100rem;
    }

    .five {
        height: 70rem;
    }

    .flexbox2 {
        flex-direction: column;
    }

    #iphone {
        display: none;
    }

    .smart-img img {
        margin-top: 7rem;
        width: 20rem;
    }

    .service h3 {
        font-size: 2rem;
    }

    .service p {
        font-size: 1.3rem;
    }

    th {
        font-size: 1rem;
        padding: 4rem 1rem;
    }

    td {
        padding: 1.5rem 1rem;
    }

    td a {
        font-size: 1rem;
    }

    footer {
        height: 85rem;
    }
}



@media screen and (max-width: 430px) {
    
    .smart {
        margin-left: 0;
    }
}

@media screen and (max-width: 414px) {
    
    #bars {
        margin-left: 23rem;
    }


}

@media screen and (max-width: 412px) {
    
    #logo {
        margin-left: 0;
        margin-right: 0;
    }

    #bars {
        margin-left: 25rem;
    }

    .smart {
        margin-left: 0;
    }

    .smart h3 {
        font-size: 2rem;
    }

    .smart img {
        margin-right: 0;
    }

}

@media screen and (max-width: 390px) {
    
    #bars {
        margin-left: 21rem;
    }

}

@media screen and (max-width: 375px) {
    
    #bars {
        margin-left: 22rem;
    }

    .flexbox {
        margin-left: 4rem;
    }

    footer {
        height: 100rem;
    }

}


@media screen and (max-width: 360px) {

    #bars {
        margin-left: 20rem;
    }

}


@media screen and (max-width: 320px) {
    

    #bars {
        margin-left: 13rem;
    }

    #overlay {
        height: 45rem;
    }

    .flexbox{
        margin-left: 1rem;
    }

    .smart {
        padding-top: 0;
    }

    .smart h3 {
        font-size: 2rem;
    }

    .smart p {
        font-size: 1rem;
    }

    table {
        margin-left: 0;
    }

    th {
        padding: 4rem 0.7rem;
    }

    td {
        padding: 1.5rem 0.7rem;
    }

    footer {
        height: 100rem;
    }
}