* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



@media screen and (max-width: 1280px) {
    
    .flexbox {
        margin: 0 1rem;
    }
}



@media screen and (max-width: 1024px) {
    
    #logo {
        margin-left: 0;
        margin-right: 3rem;
    }

    #contact {
        margin-left: 3rem;
    }

    nav li {
        padding: 3rem 1rem;
    }    

    #bars {
        display: none;
    }

    .dynamic {
        margin-right: 2rem;
        width: 50rem;
    }

    .dynamic img {
        width: 40rem;
        margin-bottom: 5rem;
    }

    .dynamic p {
        font-size: 1.5rem;
    }

    .privacy {
        width: 50rem;
    }

    .privacy p {
        font-size: 1.5rem;
    }

    .move2 {
        bottom: 13rem;
    }

    .eco {
        width: 50rem;
        margin-right: 2rem;
    }

    .eco p {
        font-size: 1.5rem;
    }

    .community {
        width: 50rem;
    }

    .community p {
        font-size: 1.5rem;
    }

    .move3 {
        bottom: 13rem;
    }

    .unified {
        width: 50rem;
        margin-right: 2rem;
    }

    .unified p {
        font-size: 1.5rem;
    }

    .routines {
       width: 50rem;
    }

    .routines p {
        font-size: 1.5rem;
    }

    .voice {
        width: 50rem;
        margin-right: 2rem;
    }

    .voice h3 {
        font-size: 3rem;
    }

    .voice p {
        font-size: 1.5rem;
    }

    .track {
        width: 50rem;
    }

    .track h3 {
        font-size: 3rem;
    }

    .track p {
        font-size: 1.5rem;
    }

    .move5 {
        bottom: 11rem;
    }

    .smart h3 {
        font-size: 2.5rem;
    }

    .smart p {
        font-size: 1.5rem;
    }

    .smart {
        padding-top: 5rem;
    }

    table {
        margin-left: 2rem;
    }

    th {
        font-size: 2rem;
    }

    footer {
        height: 100rem;
    }
}


@media screen  and (max-width: 912px) {
    
    #logo {
        margin-right: 6rem;
    }

    nav li {
        padding: 3rem 1rem;
    }    

    nav a {
        font-size: 1rem;
    }

    #bars {
        display: none;
    }

    .smart img {
        width: 10rem;
    }
}


@media screen and (max-width: 853px) {
    
    nav li {
        padding: 3rem 1rem;
    }    

    nav a {
        font-size: 1rem;
    }

    #bars {
        display: none;
    }

    .smart img {
        width: 10rem;
        margin: 0 1rem;
    }
}

@media screen and (max-width: 820px) {
    
    #logo {
        margin-left: 0;
        margin-right: 3rem;
    }

    #contact {
        margin-left: 0rem;
    }

    nav li {
        padding: 3rem 1rem;
    }    

    nav a {
        font-size: 1rem;
    }

    #bars {
        display: none;
    }

    .flexbox {
        flex-direction: column;
        margin-left: 15rem;
    }

    .one {
        height: 150rem;
    }

    .dynamic {
        margin-bottom: 3rem;
    }

    .two {
        height: 150rem;
    }

    .eco {
        margin-bottom: 3rem;
    }

    .unified {
        margin-bottom: 3rem;
    }

    .four {
        height: 150rem;
    }

    .voice {
        margin-bottom: 3rem;
    }

    .copy {
        display: none;
    }

    #iphone {
        width: 10rem;
    }

    th {
        padding: 4rem 1.5rem;
    }

    td {
        padding: 1.5rem 1.5rem;
    }

}


@media screen and (max-width: 768px) {
    
    .five {
        height: 60rem;
    }

    #iphone {
        bottom: 15rem;
    }
}


@media screen and (max-width: 642px) {
    
    .start {
        display: none;
    }

    #logo {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    nav li {
        display: none;
    }

    #bars {
        font-size: 4rem;
        display: flex;
        margin-left: 47rem;
    }

    .flexbox {
        margin-left: 7rem;
    }

    .smart-img img {
        margin-top: 5rem;
        width: 20rem;
    }

    #iphone {
        display: none;
    }

    .flexbox2 {
        margin-left: 0;
    }

    .service h3 {
        font-size: 2.5rem;
    }

}




@media screen and (max-width: 540px) {
    
    .start {
        display: none;
    }

    #logo {
        display: block;
        margin-left: 0;
        margin-right: 0;
    }

    nav li {
        display: none;
    }

    #bars {
        font-size: 4rem;
        display: flex;
        margin-left: 37rem;
    }

    .flexbox {
        margin-left: 1.7rem;
    }

    .flexbox2 {
        flex-direction: column;
        padding-top: 2rem;
    }

    .five {
        height: 70rem;
    }

    .smart {
        margin-left: 7rem;
    }

    .smart-img img {
        margin-top: 4rem;
    }

    #iphone {
        display: none;
    }

    .service h3 {
        font-size: 2.5rem;
    }

    table {
        margin-left: 0;
    }

    th {
        padding: 4rem 1rem;
    }

    td {
        padding: 1.5rem 1rem;
    }

    footer {
        height: 94rem;
    }
}