*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: 'Roboto';
    font-size: 62.5%;
}

@media (max-width:600px) {
    .lang-section .empty {
        width: 70%;
    }
    .nav-container {
        min-height: 30vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
    }
    .nav-container .flex-item1{
        width: 18%;
    }
    .nav-container .main-logo img {
        width: 100%;
    }
    .nav-container .flex-item2 {
        width: 80%;
        align-self: center;
        text-align: center;
    }
    .nav-container .flex-item3{
        align-self: center;
        text-align: center;
        width: 100%;
    }
    .nav-container .flex-item {
        margin: 0;
    }
    .nav-container .flex-item2 ul li {
        padding-right: 0.4rem;
    }
    .nav-container .flex-item2 ul li a{
        font-size: 1.1rem;
    }
    .nav-container .flex-item3 a.button {
        font-size: 1rem;
        margin-left: 2rem;
    }
    .nav-container ul li a:hover{
        background: var(--orange);
        border-radius: 1.2rem;
        padding: 0.4rem;
        color: var(--white);
        transition: color 1s;
    }
    .nav-container .flex-item3 a.button {
        font-size: 1.1rem;
    }
    .about-home #tab {
        left: 2rem;
    }
    .about-home #iphone{
        top: 2rem;
        left: 25rem;
        scale: 350%;
    }

    .plans #basic {
        height: 80vh;
        left: -1.4rem;
        top: -10rem;
    }
    .plans #premium {
        height: 90vh;
        top: -13.5rem;
    }
    .plans #business {
        height: 80vh;
        right: -1.8rem;
        top: -10rem;
    }
    .plans h2{
        font-size: 3rem;
        text-align: center;
        padding: 4rem 0 2rem 0;
    }
    .plans h5{
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 1rem !important;
    }
    .pro {
        margin-top: 0.5rem;
        padding: 1rem 1.5rem;
        border-radius: 1rem;
    }
    #business .pro, #premium .pro {
        clear: both;
    }
    
    .plans .plan .mini-logo li {
        font-size: 2rem;
    }
    .plans .content-wrapper .image-wrapper .plan{
        background-color: var(--white);
        padding: 1rem;
    }
    .plans .content-wrapper .image-wrapper .plan .flex-item {
        padding: 0.5rem 0;
    }
    .plan {
        min-width: 25rem !important;
    }

    .plans .perks li{
    font-size: 1rem;
    line-height: 130%;
    }
    .plans small.bold{
        font-size: 1rem;
        margin:1rem 0 1rem 0;
    }
    .plans p.bold{
        font-size: 1.6rem;
    }
    .plans .fee{
        font-size: 1.4rem;
    }
    .plans p.bold small{
        font-size: 1.1rem;
    }
    .plans .plan .title {
        font-size: 2rem;
    }
    
    .help {
        width: 100%;
        padding: 1rem;
    }
    .help h5{
        padding-top: 1rem;
    }
    .help .form {
        width: 100%;
        padding: 0;
    }
    .help form input::placeholder {
        padding-left: 0.4rem;
    }
    .bg-big {
        width: 100%;
    }
    .bg-big .overlay {
        width: 100%;
        height: 100%;
    }
    .bg-big h3 {
        margin: auto;
        padding: 8rem 0 0;
        text-align: center;
    }
    .bg-big input {
        width: 70% !important;
        margin:4rem 9rem 0 !important;
    }
    .faq {
        width: 100%;
        padding: 2rem;
    }
    .faq h3 {
        padding: 1rem;
    }
    .faq .questions-text {
        width: 100%;
    }
    .repair .repair-cards .flex-item{
        height: 15rem;
    }
    .connect .content-wrapper {
        width: 100%;
        justify-content: center;
        justify-items: center;
    }
    .connect .content-wrapper .image-wrapper {
        margin: auto !important;
        padding: 0 !important;
        width: 100vw;
    }
    .connect .content-wrapper .image-wrapper img {
        height: 100%;
        width: 80%;
        left: 6rem;
    }
    .app-links {
        min-height: 80vh;
    }
    .app-links .download-content {
        margin: auto;
        padding-left: 2.5rem;
    }
    .app-link-wrapper #tab {
        margin: auto;
        left: 0;
    }
    footer .quick-links {
        position: relative;
        flex-direction: column;
        width: 100%;
    }
    footer a {
        font-size: 1.4rem;
    }
    footer .quick-links ul h3{
        font-size: 2rem;
    }
}